@media screen and (max-width: 768px) {
  .option__image_position_1 {
    order: 2;
  }

  .option__image_position_2 {
    order: 1;
  }

  .option__image_position_3 {
    order: 3;
  }

  .option__image_position_4 {
    order: 4;
  }

  .option__image_position_5 {
    order: 6;
  }

  .option__image_position_6 {
    order: 5;
  }
}
