.options-item__paragraphs {
  width: 70%;
  font-size: 16px;
  line-height: 24px;
  transition: ease-in-out 0.3s;
}

@media screen and (max-width: 768px) {
  .options-item__paragraphs {
    width: 100%;
  }
}
