.footer {
  min-height: 615px;
  background-color: #FECDA7;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .footer {
    min-height: 400px;
  }
}


@media screen and (max-width: 550px) {
  .footer {
    min-height: 300px;
  }
}
