.options-item__paragraph {
  font-family: 'Gilroy', 'Lucida Sans Unicode', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  margin-top: 25px;
}

.options-item__paragraph:first-child {
  margin-top: 35px;
}
