.where__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 530px;
  margin-right: 40px;
}

@media screen and (max-width: 768px) {
  .where-text {
    width: 100%;
  }
}
